{% extends 'layouts/form.html' %}
{% block title %}Register a Patient{% endblock %}
{% block content %}
  <form method="post" class="form" action="/patient_register">
    <h3 class="form-heading">Patient - Register <a href="/" title="Back to homepage"><i class="fa fa-home pull-right"></i></a></h3>
      <div class="form-group">
         <label for="healthcard">Health Card Number</label>
         <input type="text" class="form-control" name="healthcard" placeholder="LOUX 0803 2317" maxlength="15" title="i.e LOUX 0803 2317" required>
      </div>
      <div class="form-group">
          <label for="first_name">First Name</label>
          <input type="text" class="form-control" name="first_name" placeholder="First Name" pattern="[A-Za-z]{1,25}" title="First name of patient" required>
      </div>
      <div class="form-group">
          <label for="last_name">Last Name</label>
          <input type="text" class="form-control" name="last_name" placeholder="Last Name" pattern="[A-Za-z]{1,25}" title="Last name of patient" required>
      </div>
      <div class="form-group">
          <label for="birthday">Birthday</label>
          <input type="date" class="form-control" name="birthday" placeholder="Birthday" pattern="[A-Za-z]{1,25}" title="Birthday" required>
      </div>
      <div class="form-group">
          <label for="gender">Gender</label>
          <br>
           <input type="radio" name="gender" value="male"> Male<br>
           <input type="radio" name="gender" value="female"> Female<br>
           <input type="radio" name="gender" value="other"> Other<br>
       </div>
      <div class="form-group">
          <label for="phone_number">Phone Number </label>
          <input type="text" class="form-control" name="phone_number" placeholder="phone number" maxlength="9" pattern="[0-9]{9}" title="7 digits permit number of doctor i.e 1234567" required>
      </div>
      <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" name="email" placeholder="Email" title="Email" required>
      </div>
      <div class="form-group">
          <label for="address">Address</label>
          <input type="text" class="form-control" name="address" placeholder="Address" title="Address" required>
      </div>  
      <div class="form-group">
          <label for="age">Age</label>
          <input type="number" class="form-control" name="age" placeholder="Age" min="18" title="Age" required>
      </div>

      <button type="submit" name="submit" class="btn btn-primary btn-lg btn-block">Register</button>
    <br>
  </form>
{% endblock %}