{% extends 'layouts/main.html' %}
{% block title %}Checkout{% endblock %}
{% block content %}

<div class="page-header">
    <h1>Checkout</h1>
  </div>
  
  <p class="lead">Please review your informations:</p>
  
  <div class="jumbotron jumbotron-fluid" style="background-color:#ccffcc;">
    <div class="container">

        <label for="fname"><i class="fa fa-user"></i> Full Name:</label>
        <div name="fname">{{fname}}</div> <br>

        <label for="email"><i class="fa fa-envelope"></i> Email:</label>
        <div name="email">{{email}}</div> <br>

        <label for="address"><i class="fa fa-address-card-o"></i> Address:</label>
        <div name="address">{{address}}</div> <br>

        <label for="city"> <i class="fa fa-institution"></i> City:</label>
        <div name="city">{{city}}</div> <br>

        <label for="cardname"> <i class="fa fa-user-circle"></i> Cardholder's Name:</label>
        <div name="cardname">{{cardname}}</div> <br>

        <label for="expdate"> <i class="fa fa-calendar-times-o"></i> Expiration Date:</label>
        <div name="expdate">{{expdate}}</div> <br>

        <label for="cvv"><i class="fa fa-lock"></i> CVV:</label>
        <div name="cvv">{{cvv}}</div> <br>

        <label for="sameadr">  Choosing the same Address:</label>
        <div name="sameadr">{{sameadr}}</div><br>

        <a type="button" class="btn btn-success btn-lg" href="/thank_you">Finalize</a>


    
    </div>
</div>

{% endblock %}