{% extends 'patientpages/payment.html' %}
{% block title %}Payment{% endblock %}
{% block payment %}
<div class="form-group">
    <label for="cname">Name on Card</label>
    <input class="form-control item" type="cname" name="cname" id="cname" placeholder="John More Doe" required>
</div>
    
<div class="form-group">
    <label for="ccnum">Credit card number</label>
    <input class="form-control item" type="ccnum" name="ccnum"  maxlength="16" minlength="16" id="ccnum" placeholder="1111222233334444" required>
</div>

<div class="form-group">
    <label for="exp">Exp Date</label>
    <input class="form-control item" type="exp" name="exp" maxlength="7" minlength="7"id="exp" placeholder="01/2019" required>
</div>

<div class="form-group">
    <label for="ccv">CVV</label>
    <input class="form-control item" type="ccv" name="ccv" id="ccv" placeholder="234" required>
</div>

<label>
    <input type="checkbox" checked="checked" name="sameadr"> Shipping address same as billing
</label>

<div class="form-group">
    <button class="btn btn-primary btn-block create-account" type="submit" href="/thank_you">Submit</button>
</div>
{% endblock %}
