{% extends 'layouts/main.html' %}
{% block title %}Delete{% endblock %}
{% block content %}


<div class="page-header">
        <h1>Appointment deleted</h1>
      </div>

      <div class="jumbotron jumbotron-fluid" style="background-color:#ccffcc;">
        <div class="container">
    
            <p>Appointment succesfully deleted! Thank you.</p> <br>

            <a type="button" class="btn btn-success btn-lg" href="/patient_dashboard">Back to dashboard</a>
    
        </div>
    </div>
    {% endblock %}