{% extends 'layouts/main.html' %}
{% block title %}About{% endblock %}
{% block content %}

<div class="page-header" onload="dtpick_script.js" >
  <h1>Welcome {{ user }}</h1>
    <form style="display:inline-block" method="post" class="form" action="{{ url_for('pages.patient_apts_scheduled_complete') }}">
      <button type="submit" id = "viewcart" name = "viewcart" class="btn btn-info btn-lg" value="add"> View Appointment Cart</button>
 </form>
</div>
<div class="container">
  <!--<div class="jumbotron">
     Search form -->
        <p class="lead">Book an Appointment</p>

          <div class="row">              
              <div class="col-xs-6 col-md-6">
                  <p><strong>Pick Appointment Date</strong></p>
                  <div class="form-group" style="background-color: #cdd0d6">
                      <div class="input-group date">                          
                          <input type="text" class="form-control" id="datepicker1" name="date" />
                          <span class="input-group-addon">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </span>
                      </div>              
                    </div>
              </div>
              <div class="col-xs-6 col-md-6">
                  <strong>Pick Appointment Type</strong>
                  <div style="background-color: #cdd0d6; padding-left: 20px">
                    <div class="radio_appt_type">
                      <label>
                        <input type="radio" name="appt_type" id="regular" value="Regular Appt" onclick="changeHourBlock()" 
                        {{ regularCheck }}
                        >
                        Regular
                      </label>
                    </div>
                    <div class="radio_appt_type">
                      <label>
                        <input type="radio" name="appt_type" id="annual" value="Annual Appt" onclick="changeHourBlock()"
                        {{ annualCheck }}
                        >
                        Annual
                      </label>
                    </div>
                  </div>         

              </div>
            </div>
         <form method="post" class="form" action="{{ url_for('pages.savebookedapt') }}">
          <div class="row">
              <div class="col-xs-6 col-md-6">
                  <!-- Add a dropdown here -->
                  <p><strong>Pick Doctor</strong></p>
                  <select id = "doctor_picked" name = "doctor_picked">
                      {% for dr in doctorlist %}
                        <option value="{{dr}}">{{dr}}</option>
                      {%endfor %}
                  </select>
              </div>
            </div>

          <table class="table table-striped" >
            <thead class="thead-dark" style="background-color: grey;border-bottom: solid 2px grey">
              <tr>
                <th scope="col" style="background-color: grey;" >Time Slot</th>
                <th scope="col" class="text-center"  >MON<br/><span id="monDate"></span></th>
                <th scope="col" class="text-center" >TUE<br/><span id="tueDate"></span></th>
                <th scope="col" class="text-center" >WED<br/><span id="wedDate"></span></th>
                <th scope="col" class="text-center" >THU<br/><span id="thuDate"></span></th>
                <th scope="col" class="text-center" >FRI<br/><span id="friDate"></span></th>
              </tr>
            </thead>
            <tbody>

                {% for t in tlist %}
                <tr>
                  <th scope="row" style="background-color: grey;width:10px" >{{ t }}</th>
                  <td><input type="radio" class="radio" name="time" id="monCheck{{ t }}" onclick="getSelDateTime(1,this.id)" value="{{ t }}"></td>
                  <td><input type="radio" class="radio" name="time" id="tueCheck{{ t }}" onclick="getSelDateTime(2,this.id)" value="{{ t }}"></td>
                  <td><input type="radio" class="radio" name="time" id="wedCheck{{ t }}" onclick="getSelDateTime(3,this.id)" value="{{ t }}"></td>
                  <td><input type="radio" class="radio" name="time" id="thuCheck{{ t }}" onclick="getSelDateTime(4,this.id)" value="{{ t }}"></td>
                  <td><input type="radio" class="radio" name="time" id="friCheck{{ t }}" onclick="getSelDateTime(5,this.id)" value="{{ t }}"></td>
                </tr>
                {%endfor %}
            </tbody>
          </table>


        <button type="submit" id = "appointment_selected" name = "appointment_selected" class="btn btn-success btn-lg" value="dd">Book Appointment</button>
        <a type="button" class="btn btn-primary btn-lg" href="/nurse_doctor_logout"  >Log Out</a>

       </form>

        <br/><br/>

</div>

<script>

    function changeHourBlock() {
      var chkRegular = document.getElementById("regular");
      var chkAnnual = document.getElementById("annual");

      if(chkRegular.checked){
        console.log("Regular checked");
        document.getElementById("regular").checked = true;
        document.getElementById("annual").checked = false;
        window.location.href = "/patientaptbook?apttype=regular";

      }
      else if(chkAnnual.checked){
        console.log("Annual checked");
        document.getElementById("regular").checked = false;
        document.getElementById("annual").checked = true;
        window.location.href = "/patientaptbook?apttype=annual";

      }
    }

    function getSelDateTime(dayNum, click_id) {
      var selTime = document.getElementById(click_id).value;
      if(dayNum == 1){
        console.log("MON-" + document.getElementById('monDate').innerHTML + "-" + selTime);
        var get_date = "MONDAY-" + document.getElementById('monDate').innerHTML
        document.getElementById("appointment_selected").value = get_date;
        console.log();
      }
      else if(dayNum == 2){
        console.log("TUE-" + document.getElementById('tueDate').innerHTML + "-" + selTime);
        var get_date = "TUESDAY-" + document.getElementById('tueDate').innerHTML
        document.getElementById("appointment_selected").value = get_date;
        console.log();
      }
      else if(dayNum == 3){
        console.log("WED-" + document.getElementById('wedDate').innerHTML + "-" + selTime);
        var get_date = "WEDNESDAY-" + document.getElementById('wedDate').innerHTML
        document.getElementById("appointment_selected").value = get_date;
        console.log();
      }
      else if(dayNum == 4){
        console.log("THU-" + document.getElementById('thuDate').innerHTML + "-" + selTime);
        var get_date = "THURSDAY-" + document.getElementById('thuDate').innerHTML
        document.getElementById("appointment_selected").value = get_date;
        console.log();
      }
      else if(dayNum == 5){
        console.log("FRI-" + document.getElementById('friDate').innerHTML + "-" + selTime);
        var get_date = "FRIDAY" + document.getElementById('friDate').innerHTML
        document.getElementById("appointment_selected").value = get_date;
        console.log();
      }
    }
</script>
{% endblock %}