{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="page-header">
  <h1>UberSante - Appointments for Jane Doe</h1>
</div>
<p class="lead">Appointments with {{doctor_picked}}</p>

<div class="jumbotron jumbotron-fluid" style="background-color:#ccffcc;">
  <div class="container">
    <p>{{appointment_selected}}</p>
    <p>{{time}}</p>
  </div>

  <button type="submit" id = "cart" name = "cart" class="btn btn-success btn-lg" value="s"> Add to cart</button>

</div>

<button type="submit" id = "update" name = "update" class="btn btn-success btn-lg" value="s"> Update</button>
<button type="submit" id = "delete" name = "delete" class="btn btn-success btn-lg" value="s"> Delete</button>

{% endblock %}