{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="page-header">
  <h1>UberSante - Appointments for Jane Doe</h1>
</div>
<p class="lead">Appointments with Dr. Wade</p>

<div class="jumbotron jumbotron-fluid" style="background-color:#ccffcc;">
  <div class="container">
    <h1>Bootstrap Tutorial</h1>
    <p>Bootstrap is the most popular HTML, CSS...</p>
    <p>{{appointment_selected}}</p>
    <p>{{time}}</p>
  </div>

  <button type="submit" id = "payment" name = "payment" class="btn btn-success btn-lg" value="s"> Make Payment</button>
</div>

{% endblock %}