{% extends 'layouts/main.html' %}
{% block title %}About{% endblock %}
{% block content %}

<div class="page-header">
  <h1>Welcome {{ user }}</h1>
</div>
<div class="container">
  <!--<div class="jumbotron">
     Search form -->
        <p class="lead">Book an Appointment</p>
        <form>

          
          <div class="row">              
              <div class="col-xs-6 col-md-6">
                  <p><strong>Pick Appointment Date</strong></p>
                  <div class="form-group" style="background-color: #cdd0d6">
                      <div class="input-group date">                          
                          <input type="text" class="form-control" id="datepicker1" name="date" />
                          <span class="input-group-addon">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </span>
                      </div>              
                    </div>
              </div>
              <div class="col-xs-6 col-md-6">
                  <strong>Pick Appointment Type</strong>
                  <div style="background-color: #cdd0d6; padding-left: 20px">
                    <div class="radio_appt_type">
                      <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                        Regular
                      </label>
                    </div>
                    <div class="radio_appt_type">
                      <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                        Annual
                      </label>
                    </div>
                  </div>         

              </div>
            </div>
          

          <table class="table table-striped" >
            <thead class="thead-dark" style="background-color: grey;border-bottom: solid 2px grey">
              <tr>
                <th scope="col" style="background-color: grey;" >Time slot</th>
                <th scope="col">MON<span id="monDate"></span></th>
                <th scope="col">TUE<span id="tueDate"></span></th>
                <th scope="col">WED<span id="wedDate"></span></th>
                <th scope="col">THU<span id="thuDate"></span></th>
                <th scope="col">FRI<span id="friDate"></span></th>
              </tr>
            </thead>
            <tbody>                          
                {% for t in tlist %}
                <tr>
                  <th scope="row" class="bg-info"  style="background-color: grey;width:10px" >{{ t }}</th>
                  <td style="width:10px;" ><input type="radio" class="radio" name="test" id="i1" ></td> 
                  <td style="width:10px" ><input type="radio" class="radio" name="test" id="i1" ></td>
                  <td style="width:10px" ><input type="radio" class="radio" name="test" id="i1" ></td>
                  <td style="width:10px" ><input type="radio" class="radio" name="test" id="i1" ></td>
                  <td style="width:10px" ><input type="radio" class="radio" name="test" id="i1" ></td>
                </tr> 
                {%endfor %}                        
            </tbody>
          </table>
        </form>      
        
        <a type="button" class="btn btn-primary btn-lg" href="/nurse_doctor_logout" >Log Out</a>
        <br/>

</div>
{% endblock %}