{% extends 'layouts/main.html' %}
{% block title %}About{% endblock %}
{% block content %}
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="/app/static/css/">


<div class="page-header">
  <h1>Availability</h1>
</div>

<div class="container">
    <h3>Doctor's name</h3>
    <p>Doctor's profession</p>
</div>

<div class="container" style="margin-top: 40px;" >
    <table class="table">
        <tbody>
            <tr>
              <td>Monday</td>
              <td>
                <ul class="list-group" >
                <li class="list-group-item" style="border: none">First item 
                  <button type="button" class="btn btn-default btn-sm" style="float: right; border: none;"> 
                  <span class="glyphicon glyphicon-pencil"></span>
                  </button>

                  <button type="button" class="btn btn-default btn-sm" style="float: right; border: none;">
                  <span class="glyphicon glyphicon-trash"></span>
                  </button>               
                
                </li>
              </ul>
              <div class="collapse" id="demo" >
                  
                <p style="padding-left:20px;"><b>Add a session</b></p>
                <p style="padding-left:20px;">Office hours are from 9:00 to 17:00</p>

                <label for="appt-time" style="padding-left:20px;"> From: </label>
                    <select class="hours" id="sel1">
                      <option>9</option>
                      <option>10</option>
                      <option>11</option>
                      <option>12</option>
                      <option>13</option>
                      <option>14</option>
                      <option>15</option>
                      <option>16</option>
                      <option>17</option>
                    </select>
                    <select class="minutes" id="sel1">
                        <option>00</option>
                        <option>20</option>
                        <option>40</option>
                      </select>
                <label for="appt-time"> To: </label>
                <select class="hours" id="sel1">
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                    <option>13</option>
                    <option>14</option>
                    <option>15</option>
                    <option>16</option>
                    <option>17</option>
                  </select>
                  <select class="minutes" id="sel1">
                      <option>00</option>
                      <option>20</option>
                      <option>40</option>
                    </select>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="button" class="btn btn-success" data-toggle="collapse" data-target="#demo" >
                    SUBMIT
                    </button>
            </div>
            </td>
              <td style="text-align:center;">
                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">
                  <span class="glyphicon glyphicon-plus-sign"></span> ADD
                </button>
              </td>
            </tr>
            <tr>
              <td>Tuesday</td>
              <td>
                <div class="collapse" id="demo1" >
                  
                  <p style="padding-left:20px;"><b>Add a session</b></p>
                  <p style="padding-left:20px;">Office hours are from 9:00 to 17:00</p>
  
                  <label for="appt-time" style="padding-left:20px;"> From: </label>
                      <select class="hours" id="sel1">
                        <option>9</option>
                        <option>10</option>
                        <option>11</option>
                        <option>12</option>
                        <option>13</option>
                        <option>14</option>
                        <option>15</option>
                        <option>16</option>
                        <option>17</option>
                      </select>
                      <select class="minutes" id="sel1">
                          <option>00</option>
                          <option>20</option>
                          <option>40</option>
                        </select>
                  <label for="appt-time"> To: </label>
                  <select class="hours" id="sel1">
                      <option>9</option>
                      <option>10</option>
                      <option>11</option>
                      <option>12</option>
                      <option>13</option>
                      <option>14</option>
                      <option>15</option>
                      <option>16</option>
                      <option>17</option>
                    </select>
                    <select class="minutes" id="sel1">
                        <option>00</option>
                        <option>20</option>
                        <option>40</option>
                      </select>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <button type="button" class="btn btn-success" data-toggle="collapse" data-target="#demo1" >
                      SUBMIT
                      </button>
              </div></td>
              <td style="text-align:center;">
                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo1">
                  <span class="glyphicon glyphicon-plus-sign"></span> ADD
                </button>
              </td>            
            </tr>
            <tr>
              <td>Wednesday</td>
              <td><div class="collapse" id="demo2" >
                  
                  <p style="padding-left:20px;"><b>Add a session</b></p>
                  <p style="padding-left:20px;">Office hours are from 9:00 to 17:00</p>
  
                  <label for="appt-time" style="padding-left:20px;"> From: </label>
                      <select class="hours" id="sel1">
                        <option>9</option>
                        <option>10</option>
                        <option>11</option>
                        <option>12</option>
                        <option>13</option>
                        <option>14</option>
                        <option>15</option>
                        <option>16</option>
                        <option>17</option>
                      </select>
                      <select class="minutes" id="sel1">
                          <option>00</option>
                          <option>20</option>
                          <option>40</option>
                        </select>
                  <label for="appt-time"> To: </label>
                  <select class="hours" id="sel1">
                      <option>9</option>
                      <option>10</option>
                      <option>11</option>
                      <option>12</option>
                      <option>13</option>
                      <option>14</option>
                      <option>15</option>
                      <option>16</option>
                      <option>17</option>
                    </select>
                    <select class="minutes" id="sel1">
                        <option>00</option>
                        <option>20</option>
                        <option>40</option>
                      </select>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <button type="button" class="btn btn-success" data-toggle="collapse" data-target="#demo2" >
                      SUBMIT
                      </button>
              </div></td>
              <td style="text-align:center;">
                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo2">
                  <span class="glyphicon glyphicon-plus-sign"></span> ADD
                </button>
              </td>            
            </tr>
            <tr>
              <td>Thursday</td>
              <td><div class="collapse" id="demo3" >
                  
                  <p style="padding-left:20px;"><b>Add a session</b></p>
                  <p style="padding-left:20px;">Office hours are from 9:00 to 17:00</p>
  
                  <label for="appt-time" style="padding-left:20px;"> From: </label>
                      <select class="hours" id="sel1">
                        <option>9</option>
                        <option>10</option>
                        <option>11</option>
                        <option>12</option>
                        <option>13</option>
                        <option>14</option>
                        <option>15</option>
                        <option>16</option>
                        <option>17</option>
                      </select>
                      <select class="minutes" id="sel1">
                          <option>00</option>
                          <option>20</option>
                          <option>40</option>
                        </select>
                  <label for="appt-time"> To: </label>
                  <select class="hours" id="sel1">
                      <option>9</option>
                      <option>10</option>
                      <option>11</option>
                      <option>12</option>
                      <option>13</option>
                      <option>14</option>
                      <option>15</option>
                      <option>16</option>
                      <option>17</option>
                    </select>
                    <select class="minutes" id="sel1">
                        <option>00</option>
                        <option>20</option>
                        <option>40</option>
                      </select>
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <button type="button" class="btn btn-success" data-toggle="collapse" data-target="#demo3" >
                      SUBMIT
                      </button>
              </div></td>
              <td style="text-align:center;">
                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo3">
                  <span class="glyphicon glyphicon-plus-sign"></span> ADD
                </button>
              </td>
            </tr>  
            <tr>
                <td>Friday</td>
                <td><div class="collapse" id="demo4" >
                  
                    <p style="padding-left:20px;"><b>Add a session</b></p>
                    <p style="padding-left:20px;">Office hours are from 9:00 to 17:00</p>
    
                    <label for="appt-time" style="padding-left:20px;"> From: </label>
                        <select class="hours" id="sel1">
                          <option>9</option>
                          <option>10</option>
                          <option>11</option>
                          <option>12</option>
                          <option>13</option>
                          <option>14</option>
                          <option>15</option>
                          <option>16</option>
                          <option>17</option>
                        </select>
                        <select class="minutes" id="sel1">
                            <option>00</option>
                            <option>20</option>
                            <option>40</option>
                          </select>
                    <label for="appt-time"> To: </label>
                    <select class="hours" id="sel1">
                        <option>9</option>
                        <option>10</option>
                        <option>11</option>
                        <option>12</option>
                        <option>13</option>
                        <option>14</option>
                        <option>15</option>
                        <option>16</option>
                        <option>17</option>
                      </select>
                      <select class="minutes" id="sel1">
                          <option>00</option>
                          <option>20</option>
                          <option>40</option>
                        </select>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <button type="button" class="btn btn-success" data-toggle="collapse" data-target="#demo4" >
                        SUBMIT
                        </button>
                </div></td>
                <td style="text-align:center;">
                  <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo4">
                    <span class="glyphicon glyphicon-plus-sign"></span> ADD
                  </button>
                </td>
              </tr>
              <tr>
                <td>Saturday</td>
                <td><div class="collapse" id="demo5" >
                  
                    <p style="padding-left:20px;"><b>Add a session</b></p>
                    <p style="padding-left:20px;">Office hours are from 9:00 to 17:00</p>
    
                    <label for="appt-time" style="padding-left:20px;"> From: </label>
                        <select class="hours" id="sel1">
                          <option>9</option>
                          <option>10</option>
                          <option>11</option>
                          <option>12</option>
                          <option>13</option>
                          <option>14</option>
                          <option>15</option>
                          <option>16</option>
                          <option>17</option>
                        </select>
                        <select class="minutes" id="sel1">
                            <option>00</option>
                            <option>20</option>
                            <option>40</option>
                          </select>
                    <label for="appt-time"> To: </label>
                    <select class="hours" id="sel1">
                        <option>9</option>
                        <option>10</option>
                        <option>11</option>
                        <option>12</option>
                        <option>13</option>
                        <option>14</option>
                        <option>15</option>
                        <option>16</option>
                        <option>17</option>
                      </select>
                      <select class="minutes" id="sel1">
                          <option>00</option>
                          <option>20</option>
                          <option>40</option>
                        </select>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <button type="button" class="btn btn-success" data-toggle="collapse" data-target="#demo5" >
                        SUBMIT
                        </button>
                </div></td>
                <td style="text-align:center;">
                  <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo5">
                    <span class="glyphicon glyphicon-plus-sign"></span> ADD
                  </button>
                </td>
              </tr>
              <tr>
                <td>Sunday</td>
                <td><div class="collapse" id="demo6" >
                  
                    <p style="padding-left:20px;"><b>Add a session</b></p>
                    <p style="padding-left:20px;">Office hours are from 9:00 to 17:00</p>
    
                    <label for="appt-time" style="padding-left:20px;"> From: </label>
                        <select class="hours" id="sel1">
                          <option>9</option>
                          <option>10</option>
                          <option>11</option>
                          <option>12</option>
                          <option>13</option>
                          <option>14</option>
                          <option>15</option>
                          <option>16</option>
                          <option>17</option>
                        </select>
                        <select class="minutes" id="sel1">
                            <option>00</option>
                            <option>20</option>
                            <option>40</option>
                          </select>
                    <label for="appt-time"> To: </label>
                    <select class="hours" id="sel1">
                        <option>9</option>
                        <option>10</option>
                        <option>11</option>
                        <option>12</option>
                        <option>13</option>
                        <option>14</option>
                        <option>15</option>
                        <option>16</option>
                        <option>17</option>
                      </select>
                      <select class="minutes" id="sel1">
                          <option>00</option>
                          <option>20</option>
                          <option>40</option>
                        </select>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <button type="button" class="btn btn-success" data-toggle="collapse" data-target="#demo6" >
                        SUBMIT
                        </button>
                </div></td>
                <td style="text-align:center;">
                  <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo6">
                    <span class="glyphicon glyphicon-plus-sign"></span> ADD
                  </button>
                </td>
              </tr>
          </tbody>
    </table>
</div>

{% endblock %} 