:focus{
    outline:none;
  }
  .radio{
    -webkit-appearance:button;
    -moz-appearance:button;
    appearance:button;
    border:4px solid #ccc;
    border-top-color:#bbb;
    border-left-color:#bbb;
    background:#fff;
    width:30px;
    height:30px;
    border-radius:20%;
  }
  .radio:checked{
    border:10px solid #4099ff;
  }