:focus{
    outline:none;
  }
  .radio{
    -webkit-appearance:button;
    -moz-appearance:button;
    appearance:button;
    border:4px solid #8d1717;
    border-top-color:#bbb;
    border-left-color:#bbb;
    background:#fff;
    width:30px;
    height:30px;
    border-radius:20%;
  }
  .radio:checked{
    border:10px solid #4099ff;
  }

  table td .radio { border:1px solid red;display: block;margin:0 auto;}
table tr td { text-align:center; margin-left:auto; margin-right:auto; border:1px solid red;}